{% extends 'register/main.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">prerequisites</th>
            <th scope="col">instructor</th>
            <th scope="col">capacity</th>
            <th scope="col">roomNo</th>
            <th scope="col">time</th>
            <th scope="col">days</th>
          </tr>
        </thead>
        <tbody>
          {% for index in courses %}
            <tr>
              <td>{{ index.name }}</td>
              <td>{{ index.description }}</td>
              <td>{{ index.prerequisites }}</td>
              <td>{{ index.instructor }}</td>
              <td>{{ index.capacity }}</td>
              <td>{{ index.scheduleId.roomNo }}</td>
              <td>{{ index.scheduleId.startTime }}
                {{ index.scheduleId.endTime }}</td>
              <td>
                {% for item in index.scheduleId.days.all %}
                  {{ item.name }},
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  </body>
</html>
