{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="  bg-footer">
        <footer class="text-center text-lg-start" >
          <div class="container d-flex justify-content-center py-5">
            <button type="button" class="btn btn-hover-transform btn-light bg-button-footer btn-lg btn-floating mx-2" >
              <a href="https://www.facebook.com/saifaldin.alkomi"> <img  src="{% static "image/facebook.svg" %}" /></a>
           </button>
            <button type="button" class="btn btn-hover-transform btn-light bg-button-footer btn-lg btn-floating mx-2" >
              <a href='https://wa.me/qr/X5J7RTHY7QFUI1'> <img src="{% static 'image/whatsapp.svg' %}" /></a>
           </button>
            <button type="button" class="btn btn-hover-transform btn-light bg-button-footer btn-lg btn-floating mx-2">
              <a href='https://www.instagram.com/saif.aldin_03/'> <img src="{% static 'image/instagram.svg' %}" /></a>
           </button>
            <button type="button" class="btn btn-hover-transform btn-light bg-button-footer btn-lg btn-floating mx-2">
              <a href='https://www.linkedin.com/in/saif-aldin-komi-1b9523251/'> <img src="{% static 'image/linkedin.svg' %}" /></a>
           </button>
          </div>
          <div class="text-center text-white p-3 bg-dark opacity-50">
            © 2024 Copyright:
            <a class="text-white" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfpsSShxckVnKHRxrKjDFmvsPrlQDvCBLgDXNmsGPZKGQrPxMJHGplGtPWWHGnmvnzcNVq"> saifaldin && abd</a>
          </div>
        </footer>
      </div>
  </body>
</html>
