{% extends 'register/main.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
      {{ studentsReg }}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
            {% comment %} <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th> {% endcomment %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for index in studentsReg %}
              <th scope="col">{{index.studentId.name}}</th>
            {% endfor %}
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    {% endblock %}
  </body>
</html>
